<!DOCTYPE html>

<title>Colours index</title>

{% block body %}
    <h1>Colours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for colour in colours %}
            <tr>
                <td>{{ colour.id }}</td>
                <td>{{ colour.Name }}</td>
                <td>
                    <a href="{{ path('colours_show', {'id': colour.id}) }}">show</a>
                    <a href="{{ path('colours_edit', {'id': colour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('colours_new') }}">Create new</a>
{% endblock %}
