{% extends 'adminlayout.html.twig' %}

{% block main %}

    <div class="adminContainer">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ImageName</th>
                    <th>Updated</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for theme in themes %}
                <tr>
                    <td>{{ theme.id }}</td>
                    <td>{{ theme.name }}</td>
                    <td>{{ theme.imageName }}</td>
                    <td>{{ theme.updated ? theme.updated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('theme_edit', {'id': theme.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('theme_new') }}">Create new</a>
        <a href="{{ path('administration') }}">Back Menu</a>
    </div>
{% endblock %}
