{% extends 'layout.html.twig' %}

{% block main %}




<div class="packAndColoursContainer ">

    <div class="infoColoursAndPack">
        <h4 class="">Nos couleurs et conditionnements.</h4>
        <h4>Voici tous les conditionnements et les couleurs disponibles.</h4>

        <p>
            Retrouvez également les trios, les palettes de 6 fards, 10 fards et 36 fards !
            Pour les tarifs, nous consulter.
        </p>
    </div>

    <div class="containerColoursAndPack">

        <div class="coloursContainer container d-flex mx-auto text-center row">
            <h2 class="titleColoursAndPack mt-5 mb-5">Packaging</h2>
            {% if makeupPackagingDetails is not empty %}
                {% for makeupRefDetails in makeupPackagingDetails %}
                    <div class=" card m-3" style="width: 12rem; height: 12rem;">
                        <img src="{{ vich_uploader_asset(makeupRefDetails, 'imageFile') | imagine_filter('pack') }}"
                             class="" alt="packaging picture">
                        <p class="refTexte card-body">{{ makeupRefDetails.name }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="coloursContainer container d-flex mx-auto text-center row">
            <h2 class="titleColoursAndPack mt-5 mb-5">Couleurs</h2>
                {% for makeupRefDetails in makeupColoursDetails %}
                        <div class="item-zoom card  m-3" style="width: 12rem; height: 12rem;">
                            <a type="button" class="" data-bs-toggle="modal" data-bs-target="#a{{ makeupRefDetails.id }}">
                            <img src="{{ vich_uploader_asset(makeupRefDetails, 'imageFile') }}"
                                 class="mt-2" alt="colours picture">
                            </a>
                            <p class="refTexte card-body">{{ makeupRefDetails.name }}</p>
                        </div>


                    <!-- Modal -->
                    <div class="modal fade" id="a{{ makeupRefDetails.id }}" tabindex="-1" aria-labelledby="a{{ makeupRefDetails.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class=" card  ">
                                            <img src="{{ vich_uploader_asset(makeupRefDetails, 'imageFile')  }}"
                                                 class="mt-2" alt="colours picture">
                                        <p class="refTexte card-body">{{ makeupRefDetails.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
