{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainerCKEDITOR container">
        <h1>Carousel index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ImageName</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for carousel in carousels %}
                <tr>
                    <td>{{ carousel.id }}</td>
                    <td>{{ carousel.imageName }}</td>
                    <td>
                        <a href="{{ path('admin_carousel_edit', {'id': carousel.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_carousel_new') }}">Create new</a>
        <a href="{{ path('administration') }}">Back Menu</a>
    </div>
{% endblock %}
