{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainer">

        <h1>Colours index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for colour in colours %}
                <tr>
                    <td>{{ colour.id }}</td>
                    <td>{{ colour.name }}</td>
                    <td>
                        <a href="{{ path('admin_colours_edit', {'id': colour.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_colours_new') }}">Create new</a>
        <a href="{{ path('administration') }}">Back Menu</a>
    </div>
{% endblock %}
